<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bradchristie.taminationsapp"
    android:versionCode="22"
    android:versionName="1.1.11" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.bradchristie.taminationsapp.LevelActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable"
                       android:value="com.bradchristie.taminationsapp.CalllistActivity" />
        </activity>
        <activity
            android:name="com.bradchristie.taminationsapp.CalllistActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:label="@string/title_activity_call" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name="com.bradchristie.taminationsapp.AnimListActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:label="@string/title_activity_anim_list" >
        </activity>
        <activity
            android:name="com.bradchristie.taminationsapp.AnimationActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:label="@string/title_activity_animation" >
        </activity>
        <activity
            android:name="com.bradchristie.taminationsapp.SettingsActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.bradchristie.taminationsapp.DefinitionActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:label="@string/title_activity_definition" >
        </activity>
        <activity
            android:name="com.bradchristie.taminationsapp.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="com.bradchristie.taminationsapp.StartPracticeActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:label="Start Practice" >
        </activity>
        <activity
            android:name="com.bradchristie.taminationsapp.PracticeActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:label="Practice" >
        </activity>
        <activity
            android:name="com.bradchristie.taminationsapp.TutorialActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:label="Practice" >
        </activity>
    </application>

</manifest>
