/*

    Copyright 2009 Brad Christie

    This file is part of TAMinations.

    TAMinations is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    TAMinations is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with TAMinations.  If not, see <http://www.gnu.org/licenses/>.

 */

html {
  margin: 6px;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff8f0;
}


/*  H2 is used for the title for each call  */
h2 {
  font: bold large Helvetica, Arial, Sans Serif;
  text-transform: uppercase;
  color: red;
}

/*  H3 is used for the title of call variations  */
h3 {
  font: bold large Helvetica, Arial, Sans Serif;
  color: red;

}

/*  B is used for call variations  */
b {
  font: medium Helvetica, Arial, Sans Serif;
  color: #008000;
}

div.intro,
div.starting-formations,
div.dance-action,
div.ending-formation,
div.timing,
div.styling,
div.comments,
div.command-examples,
div.teaching-tip
{
  margin: 10px;
}

div.command-examples > p
{
  font-style: italic;
  margin: 0 0 0 20px;
  text-indent: -20px;
}

div.starting-formations > b,
div.dance-action > b,
div.ending-formation > b,
div.timing > b,
div.styling > b,
div.comments > b,
div.command-examples > b,
div.teaching-tip > b
{
  font-family: Helvetica, Arial, Sans Serif;
  font-weight: bold;
  color: blue;
  display: block;
  text-indent: -10px;
}

p { margin: 0 0 10px 0 }

/*  Styling info on mainstream call definition  */
p.styling {
  color: maroon;
}
/*  Copyright info at the end of each definition   */
p.copyright {
  color: maroon;
  font-style: italic;
}
/*  Timing info at end of mainstream/plus/advanced calls  */
p.timing {
  font: bold small Helvetica, Arial, Sans Serif;
  color: navy;
}

/*  Comment after list of animations  */
.comment {
  color: maroon;
}

/*  Text from Vic Ceder  */
.ceder {
  position: relative;
  float: right;
  border: 1px solid black;
  width: 30%;
  margin: 10px;
  padding: 10px;
  background-color: #ffe0ff;
}


/*  Highlight for call definition as it's animated  */
.definition-highlight { background-color: yellow; }


/*  Level text at top right of each call  */
.level {
  font: medium Helvetica, Arial, Sans Serif;
  text-transform: none;
  color: #008000;
  float: right;
}

